html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

.mentors-container {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  width: 100%;
  min-height: 100vh;
}

.mentors-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentors-section-title {
  color: #fff;
  padding: 40px;
  font-weight: 500;
}

.mentor-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-bottom: 100px;
}

.mentor-card {
  background-color: #171717;
  padding: 40px 30px;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentor-card-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url('../../images/mentor.png');
  background-size: cover;
  background-position: center; 
  margin-bottom: 18px;
  margin-top: 15px;
  flex-shrink: 0;
  align-self: center;
}

.mentor-name {
  margin-top: 10px;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.mentor-info {
  margin-top: 15px !important;
  font-size: 14px;
  color: #d7d7d7;
  text-align: justify;
  min-height: 60px;
}

/* Eğer meslek alanı eklenirse */
.mentor-job {
  margin-top: 6px;
  font-weight: 400;
  color: #8e9291;
  text-align: center;
}

.mentor-industries-skills-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px
}

.mentor-industries,
.mentor-skills {
  color: #8e9291;
}

.mentor-card-rating {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #232323;
  color: #8e9291;
  border-radius: 8px;
  padding: 2px 8px;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
}